:root {
    --purple: #6C63FF;
    --purple-light: #d2d0ff;
    --yellow: #F9A826;
    --text-dark: #6b6666;
}

* {
    box-sizing: border-box;
    transition: all .25s;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.text-dark {
    color: var(--text-dark);
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.flex-column {
    flex-direction: column;
}

.maintenance .hero,
.maintenance .information {
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    display: flex;
    height: 50vh;
}

.maintenance .hero {
    background-color: var(--purple);
}
.maintenance .hero img {
    height: 250px;
}

.maintenance .information .social-media a {
    background-color: var(--purple-light);
    text-decoration: none;
    border-radius: 50%;
    margin: 0 4px;
    height: 36px;
    width: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--purple);
}
.maintenance .information .social-media a:hover {
    color: white;
    background-color: var(--purple);
}